*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 1rem;
  min-height: 100%;
  font-family: Helvetica;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.3);
}

h1 {
  font-size: 1.75rem;
}

input {
  max-width: 80%;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 2px solid black;
}

button {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.5s ease;
  color: white;
  border: 2px solid black;
  background-color: hsl(211, 100%, 50%);
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.3);
}

button:hover {
  font-size: 1.5rem;
  background-color: hsl(211, 100%, 60%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}

#resultText {
  margin: 1rem;
}

.wrongText {
  font-size: 1.5rem;
  color: hsl(0, 100%, 50%);
}

.correctText {
  font-size: 1.5rem;
  color: hsl(120, 100%, 45%);
}

.hidden {
  display: none;
}